# .gitignore

# NodeJS specific files
*-debug.log*
*-error.log*
*.log
bower_components/
jspm_packages/
logs/
node_modules/
out/
web_modules/

# Temporary files
/build/
/target/
/tmp/

# Linux specific files
.directory
.fuse_hidden*
.nfs*
.Trash-*

# MacOS specific files
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.LSOverride
Network Trash Folder
Temporary Items

# Windows specific files
$RECYCLE.BIN/
*.stackdump
[Dd]esktop.ini
ehthumbs.db
ehthumbs_vista.db
Thumbs.db
Thumbs.db:encryptable

# Vim specific files
*.swp
*.un~
*~
.netrwhist
Session.vim
Sessionx.vim

# VS Code specific files
!.vscode/*.code-snippets
!.vscode/c_cpp_properties.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
.history/
.vscode/*

# Exceptional files
!.gitignore
