# .gitignore

# Exceptive files
!.gitignore

# NodeJS specific files
node_modules/

# Temporary files
/bin/
/build/
/target/
/tmp/

# Linux specific files
.Trash-*
.directory
.fuse_hidden*
.nfs*

# MacOS specific files
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.LSOverride
._*
.apdisk
Network Trash Folder
Temporary Items

# Windows specific files
*.stackdump
$RECYCLE.BIN/
Thumbs.db
Thumbs.db[:]encryptable
[Dd]esktop.ini
ehthumbs.db
ehthumbs_vista.db

# Vim specific files
*.swp
*.un~
*~
.netrwhist
Session.vim
Sessionx.vim
